<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="body">

    <!-- Page Content-->
    <div class="container padding-bottom-3x mb-1">
        <div class="row">

            <!-- Products-->
            <div class="col-xl-9 col-lg-8 order-lg-2">

                <!-- Shop Toolbar-->
                <div class="shop-toolbar padding-bottom-1x mb-2">
                    <div class="column">
                        <div class="shop-sorting">
                            <label for="sorting">Ordenar por:</label>

                            <select class="form-control" id="sorting">
                                <option>Popularidade</option>
                                <option>Preços: Barato -> Caro</option>
                                <option>Preços: Caro -> Barato</option>
                                <option>Melhores Avaliados</option>
                                <option>A - Z</option>
                                <option>Z - A</option>
                            </select>

                            <span class="text-muted">Exibindo:&nbsp;</span>
                            <span>1 - 12 items</span>
                        </div>
                    </div>

                    <div class="column">
                        <div class="shop-view">
                            <a class="grid-view active" href="#">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Products Grid-->
                <div class="isotope-grid cols-3 mb-2" style="position: relative; height: 1438.44px;">
                    <div class="gutter-sizer"></div>
                    <div class="grid-sizer"></div>

                    <!-- Product-->
                    <div class="grid-item" style="position: absolute; left: 0px; top: 0px;">
                        <div class="product-card">
                            <div class="product-badge text-danger">50% de desconto!</div>

                            <a class="product-thumb" href="#">
                                <img src="/assets/images/jpg/shoes-01-lg.jpg" alt="Product">
                            </a>

                            <h3 class="product-title">
                                <a href="#">Sapato Social</a>
                            </h3>

                            <h4 class="product-price">
                                <del>R$99.99</del>R$49.99
                            </h4>

                            <div class="product-buttons">

                                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title=""
                                        data-original-title="Wishlist">
                                    <i class="icon-heart"></i>
                                </button>

                                <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success"
                                        data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product"
                                        data-toast-message="successfuly added to cart!">Adicionar</button>
                            </div>
                        </div>
                    </div>

                    <!-- Product-->
                    <div class="grid-item" style="position: absolute; left: 292px; top: 0px;">
                        <div class="product-card">
                            <a class="product-thumb" href="#">
                                <img src="/assets/images/jpg/bag-01-xl.jpg" alt="Product">
                            </a>

                            <h3 class="product-title">
                                <a href="#">Bolsa XxX</a>
                            </h3>

                            <h4 class="product-price">R$200.00</h4>

                            <div class="product-buttons">

                                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title=""
                                        data-original-title="Wishlist">
                                    <i class="icon-heart"></i>
                                </button>

                                <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success"
                                        data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product"
                                        data-toast-message="successfuly added to cart!">Adicionar</button>
                            </div>
                        </div>
                    </div>

                    <!-- Product-->
                    <div class="grid-item" style="position: absolute; left: 584px; top: 0px;">

                        <div class="product-card">

                            <div class="rating-stars">
                                <i class="icon-star filled"></i>
                                <i class="icon-star filled"></i>
                                <i class="icon-star filled"></i>
                                <i class="icon-star filled"></i>
                                <i class="icon-star"></i>
                            </div>

                            <a class="product-thumb" href="#">
                                <img src="/assets/images/jpg/glasses-01-lg.jpg" alt="Product">
                            </a>

                            <h3 class="product-title">
                                <a href="#">Oakley Kickback</a>
                            </h3>

                            <h4 class="product-price">R$155.00</h4>

                            <div class="product-buttons">

                                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title=""
                                        data-original-title="Wishlist">
                                    <i class="icon-heart"></i>
                                </button>

                                <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success"
                                        data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product"
                                        data-toast-message="successfuly added to cart!">Adicionar</button>

                            </div>

                        </div>
                    </div>

                    <!-- Product-->
                    <div class="grid-item" style="position: absolute; left: 0px; top: 338px;">
                        <div class="product-card">

                            <div class="product-badge text-muted">Sem estoque</div>

                            <a class="product-thumb" href="#">
                                <img src="/assets/images/jpg/shirt-03-lg.jpg" alt="Product">
                            </a>

                            <h3 class="product-title">
                                <a href="#">Blusa Off Shoulder</a>
                            </h3>

                            <h4 class="product-price">R$128.00</h4>

                            <div class="product-buttons">

                                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title=""
                                        data-original-title="Wishlist">
                                    <i class="icon-heart"></i>
                                </button>

                                <a class="btn btn-outline-secondary btn-sm" href="#">Ver Detalhes</a>

                            </div>
                        </div>
                    </div>

                    <!-- Product-->
                    <div class="grid-item" style="position: absolute; left: 292px; top: 338px;">
                        <div class="product-card">
                            <div class="rating-stars">
                                <i class="icon-star filled"></i>
                                <i class="icon-star filled"></i>
                                <i class="icon-star filled"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                            </div>

                            <a class="product-thumb" href="#">
                                <img src="/assets/images/jpg/shirt-01-lg.jpg" alt="Product">
                            </a>

                            <h3 class="product-title">
                                <a href="#">Blusa Y</a>
                            </h3>

                            <h4 class="product-price">R$65.00</h4>

                            <div class="product-buttons">
                                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title=""
                                        data-original-title="Wishlist">
                                    <i class="icon-heart"></i>
                                </button>

                                <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success"
                                        data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product"
                                        data-toast-message="successfuly added to cart!">Adicionar</button>
                            </div>
                        </div>
                    </div>

                    <!-- Product-->
                    <div class="grid-item" style="position: absolute; left: 584px; top: 338px;">
                        <div class="product-card">

                            <div class="product-badge text-danger">40% de desconto!</div>
                            <a class="product-thumb" href="#">
                                <img src="/assets/images/jpg/shirt-04-lg.jpg" alt="Product">
                            </a>

                            <h3 class="product-title">
                                <a href="#">Jaqueta Z</a>
                            </h3>

                            <h4 class="product-price">
                                <del>R$60.00</del>R$36.00
                            </h4>

                            <div class="product-buttons">
                                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title=""
                                        data-original-title="Wishlist">
                                    <i class="icon-heart"></i>
                                </button>

                                <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success"
                                        data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product"
                                        data-toast-message="successfuly added to cart!">Adicionar</button>
                            </div>
                        </div>
                    </div>

                    <!-- Product-->
                    <div class="grid-item" style="position: absolute; left: 0px; top: 732px;">

                        <div class="product-card">
                            <a class="product-thumb" href="#">
                                <img src="/assets/images/jpg/belt-01-lg.jpg" alt="Product">
                            </a>
                            <h3 class="product-title">
                                <a href="#">Cinto de Couro</a>
                            </h3>

                            <h4 class="product-price">R$47.00</h4>

                            <div class="product-buttons">

                                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title=""
                                        data-original-title="Wishlist">
                                    <i class="icon-heart"></i>
                                </button>

                                <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success"
                                        data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product"
                                        data-toast-message="successfuly added to cart!">Adicionar</button>
                            </div>
                        </div>
                    </div>

                    <!-- Product-->
                    <div class="grid-item" style="position: absolute; left: 292px; top: 732px;">
                        <div class="product-card">

                            <a class="product-thumb" href="#">
                                <img src="/assets/images/jpg/hat-01-lg.jpg" alt="Product">
                            </a>

                            <h3 class="product-title">
                                <a href="#">Boné</a>
                            </h3>

                            <h4 class="product-price">R$31.99</h4>

                            <div class="product-buttons">

                                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title=""
                                        data-original-title="Wishlist">
                                    <i class="icon-heart"></i>
                                </button>

                                <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success"
                                        data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product"
                                        data-toast-message="successfuly added to cart!">Adicionar</button>
                            </div>
                        </div>
                    </div>

                    <!-- Product-->
                    <div class="grid-item" style="position: absolute; left: 584px; top: 732px;">
                        <div class="product-card">

                            <div class="rating-stars">
                                <i class="icon-star filled"></i>
                                <i class="icon-star filled"></i>
                                <i class="icon-star filled"></i>
                                <i class="icon-star filled"></i>
                                <i class="icon-star filled"></i>
                            </div>

                            <a class="product-thumb" href="#">
                                <img src="/assets/images/jpg/shoes-02.-lg.jpg" alt="Product">
                            </a>

                            <h3 class="product-title">
                                <a href="#">Tênis Esportivo</a>
                            </h3>

                            <h4 class="product-price">R$90.00</h4>

                            <div class="product-buttons">

                                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title=""
                                        data-original-title="Wishlist">
                                    <i class="icon-heart"></i>
                                </button>

                                <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success"
                                        data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product"
                                        data-toast-message="successfuly added to cart!">Adicionar</button>
                            </div>
                        </div>
                    </div>

                    <!-- Product-->
                    <div class="grid-item" style="position: absolute; left: 0px; top: 1070px;">
                        <div class="product-card">
                            <a class="product-thumb" href="#">
                                <img src="/assets/images/jpg/bag-02-lg.jpg" alt="Product"></a>
                            <h3 class="product-title">
                                <a href="#">Bolsa Grande</a>
                            </h3>

                            <h4 class="product-price">R$29.99</h4>

                            <div class="product-buttons">

                                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title=""
                                        data-original-title="Wishlist">
                                    <i class="icon-heart"></i>
                                </button>

                                <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success"
                                        data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product"
                                        data-toast-message="successfuly added to cart!">Adicionar</button>
                            </div>

                        </div>
                    </div>
                    <!-- Product-->
                    <div class="grid-item" style="position: absolute; left: 292px; top: 1070px;">
                        <div class="product-card">
                            <a class="product-thumb" href="#">
                                <img src="/assets/images/jpg/clock-01-lg.jpg" alt="Product">
                            </a>
                            <h3 class="product-title">
                                <a href="#">Relógio</a>
                            </h3>

                            <h4 class="product-price">R$145.00</h4>

                            <div class="product-buttons">

                                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title=""
                                        data-original-title="Wishlist">
                                    <i class="icon-heart"></i>
                                </button>

                                <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success"
                                        data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product"
                                        data-toast-message="successfuly added to cart!">Adicionar</button>
                            </div>
                        </div>
                    </div>

                    <!-- Product-->
                    <div class="grid-item" style="position: absolute; left: 584px; top: 1070px;">
                        <div class="product-card">

                            <a class="product-thumb" href="#">
                                <img src="/assets/images/jpg/earrings-lg.jpg" alt="Product">
                            </a>

                            <h3 class="product-title">
                                <a href="#">Brinco de Metal</a>
                            </h3>

                            <h4 class="product-price">R$90.00</h4>

                            <div class="product-buttons">

                                <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title=""
                                        data-original-title="Wishlist">
                                    <i class="icon-heart"></i>
                                </button>

                                <button class="btn btn-outline-primary btn-sm" data-toast="" data-toast-type="success"
                                        data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product"
                                        data-toast-message="successfuly added to cart!">Adicionar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pagination-->
                <nav class="pagination">
                    <div class="column">

                        <ul class="pages">
                            <li class="active">
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>...</li>
                            <li>
                                <a href="#">12</a>
                            </li>
                        </ul>
                    </div>

                    <div class="column text-right hidden-xs-down">
                        <a class="btn btn-outline-secondary btn-sm" href="#">Próximo&nbsp;
                            <i class="icon-arrow-right"></i>
                        </a>
                    </div>
                </nav>
            </div>

            <!-- Sidebar  -->
            <div class="col-xl-3 col-lg-4 order-lg-1">

                <button class="sidebar-toggle position-left" data-toggle="modal" data-target="#modalShopFilters">
                    <i class="icon-layout"></i>
                </button>

                <aside class="sidebar sidebar-offcanvas">

                    <!-- Widget Categories-->
                    <section class="widget widget-categories">
                        <h3 class="widget-title">Categorias</h3>
                        <ul>
                            <li class="has-children expanded">
                                <a href="#">Calçados</a>
                                <span>(1138)</span>
                                <ul>
                                    <li>
                                        <a href="#">Feminino</a>
                                        <span>(508)</span>
                                        <ul>
                                            <li><a href="#">Chinelos</a>
                                            </li>
                                            <li><a href="#">Salto Alto</a>
                                            </li>
                                            <li><a href="#">Tênis</a>
                                            </li>
                                            <li><a href="#">Sandálias</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li><a href="#">Masculino</a>
                                        <span>(423)</span>
                                        <ul>
                                            <li><a href="#">Botas</a>
                                            </li>
                                            <li><a href="#">Tênis</a>
                                            </li>
                                            <li><a href="#">Sapatos</a>
                                            </li>
                                            <li><a href="#">Sandálias</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li><a href="#">Tênis Masculino Infantil</a>
                                        <span>(97)</span>
                                    </li>

                                    <li>
                                        <a href="#">Tênis Feminino Infantil</a>
                                        <span>(110)</span>
                                    </li>

                                </ul>
                            </li>

                            <li class="has-children">
                                <a href="#">Roupas</a>
                                <span>(2356)</span>
                                <ul>
                                    <li>
                                        <a href="#">Feminino</a>
                                        <span>(1032)</span>
                                        <ul>
                                            <li>
                                                <a href="#">Vestidos</a>
                                            </li>
                                            <li>
                                                <a href="#">Camisetas &amp;
                                                    Tops</a>
                                            </li>
                                            <li>
                                                <a href="#">Roupas de Banho</a>
                                            </li>
                                            <li>
                                                <a href="#">Shorts</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#">Masculino</a>
                                        <span>(937)</span>
                                        <ul>
                                            <li>
                                                <a href="#">Camisetas &amp;
                                                    Tops</a>
                                            </li>
                                            <li>
                                                <a href="#">Shorts</a>
                                            </li>
                                            <li>
                                                <a href="#">Roupas de Banho</a>
                                            </li>
                                            <li>
                                                <a href="#">Cuecas</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#">Roupas Infantis</a>
                                        <span>(386)</span>
                                    </li>
                                </ul>
                            </li>

                            <li class="has-children">
                                <a href="#">Bolsas e Mochilas</a>
                                <span>(420)</span>
                                <ul>
                                    <li>
                                        <a href="#">Bolsas</a>
                                        <span>(180)</span>
                                    </li>

                                    <li>
                                        <a href="#">Mochilas</a>
                                        <span>(132)</span>
                                    </li>
                                    <li>
                                        <a href="#">Carteiras &amp;
                                            Acessórios</a>
                                        <span>(47)</span>
                                    </li>
                                    <li>
                                        <a href="#">Malas</a>
                                        <span>(61)</span>
                                    </li>
                                </ul>
                            </li>

                            <li class="has-children">
                                <a href="#">Acessórios</a>
                                <span>(874)</span>
                                <ul>
                                    <li>
                                        <a href="#">Óculos de Sol</a>
                                        <span>(211)</span>
                                    </li>
                                    <li><a href="#">Bonés</a>
                                        <span>(195)</span>
                                    </li>
                                    <li><a href="#">Relógios</a>
                                        <span>(159)</span>
                                    </li>
                                    <li><a href="#">Jóias</a>
                                        <span>(203)</span>
                                    </li>
                                    <li><a href="#">Cintos</a>
                                        <span>(106)</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </section>



                    <!-- Widget Brand Filter-->
                    <section class="widget">
                        <h3 class="widget-title">Filtrar por Marca</h3>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="adidas">
                            <label class="custom-control-label" for="adidas">Adidas&nbsp;
                                <span class="text-muted">(254)</span>
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="bilabong">
                            <label class="custom-control-label" for="bilabong">Bilabong&nbsp;
                                <span class="text-muted">(39)</span>
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="klein">
                            <label class="custom-control-label" for="klein">Calvin Klein&nbsp;
                                <span class="text-muted">(128)</span>
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="nike">
                            <label class="custom-control-label" for="nike">Nike&nbsp;
                                <span class="text-muted">(310)</span>
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="bahama">
                            <label class="custom-control-label" for="bahama">Tommy Bahama&nbsp;
                                <span class="text-muted">(42)</span>
                            </label>
                        </div>
                    </section>

                    <!-- Widget Size Filter-->
                    <section class="widget">
                        <h3 class="widget-title">Filtrar por tamanho</h3>

                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="xl">
                            <label class="custom-control-label" for="xl">XL&nbsp;
                                <span class="text-muted">(208)</span>
                            </label>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="l">
                            <label class="custom-control-label" for="l">L&nbsp;
                                <span class="text-muted">(311)</span>
                            </label>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="m">
                            <label class="custom-control-label" for="m">M&nbsp;
                                <span class="text-muted">(485)</span>
                            </label>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="s">
                            <label class="custom-control-label" for="s">S&nbsp;
                                <span class="text-muted">(213)</span>
                            </label>
                        </div>
                    </section>

                    <!-- Promo Banner-->
                    <section class="promo-box" style="background-image: url(/assets/images/jpg/banner-sunglasses-01-xl.jpg);">

                        <!-- Choose between .overlay-dark (#000) or .overlay-light (#fff) with default opacity of 50%. You can overrride default color and opacity values via 'style' attribute.-->
                        <span class="overlay-dark" style="opacity: .45;"></span>

                        <div class="promo-box-content text-center padding-top-3x padding-bottom-2x">
                            <h4 class="text-light text-thin text-shadow">Nova coleção de</h4>
                            <h3 class="text-bold text-light text-shadow">Óculos de Sol</h3>
                            <a class="btn btn-sm btn-primary" href="#">Compre agora!</a>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>

</div>

</body>
</html>