<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="body">
    <h1>Lista de produtos</h1>

    <table class="table">
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Marca</td>
            <td>Preço</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr th:each="product : ${products}">
            <td th:text="${product.id}">100</td>
            <td th:text="${product.name}">Tiburssinho</td>
            <td th:text="${product.brand}">Tibur</td>
            <td th:text="${product.price}">Tibur@gmail.com</td>
            <td>Detalhes</td>
            <td>Editar</td>
            <td>Remover</td>
        </tr>
    </table>
</div>
</body>
</html>